@charset "UTF-8";

body{
	background: linear-gradient(to bottom, #102343 0%, #7b5f7b 100%);
}

#body{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 30px;
	justify-content: space-around;
	height: 850px;
}

#header{
	width: 80%;
	height: 50px;
	margin-top: 0px;
	padding-bottom: 20px;
	padding-left: 10px;
}
h1{
	font-family: Apple Chancery;
	font-size: 72px;
	color: #D4A56A;
}

#icon{
	widht: 20%;
	height: 50px;
}
#goodEvening{
	flex-grow: 1;
	width: 100%;
	height: 800px;
	margin: 10px;
	overflow-y: scroll;
	overflow-x: hidden;
	text-align: center;
}

h2{
	color: #98878F;
	text-align: center;
	padding-left: 18px;
	padding-bottom: 0px;
	font-size: 32px;
}
form{
	text-align: center;
}
.quant{
    color: #E7DFDD;
    padding: 18px;
    width: 90%;
    border: ridge;
    border-color: #1A1A59; 
    text-align: left;
    outline: none;
    font-size: 32px;
}
.accordion {
    color: #E7DFDD;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: ridge;
    border-color: #1A1A59; 
    text-align: left;
    outline: none;
    font-size: 32px;
    transition: 0.4s;
    background-color: #545993;
}
.active, .accordion:hover {
    background-color: #102343;
}
.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.button{
    color: #FFF8E8;
    cursor: pointer;
    padding: 18px;
    width: 40%;
    border: ridge;
    border-color: #1A1A59; 
    text-align: left;
    outline: none;
    font-size: 32px;
    background-color: #545993;
}

.bbutton{
	background-color: #545993;
    border: none;
	padding: 10px 20px;
	width: 350px;
	height: 50px;
	font-size: 24px;
	color: White;
	margin: auto;
	border: ridge;
    border-color: #1A1A59; 
}	
.bbutton2{
    color: #FFF8E8;
    background-color: #545993;
    cursor: pointer;
    padding: 18px;
    width: 40%;
    border: ridge;
    border-color: #1A1A59; 
    text-align: left;
    outline: none;
    font-size: 32px;
}
.bbutton2:hover, .bbutton2:active{
	background-color: #4543ff;
}
input[type="text"]{
	width: 20%;
	margin: 5px;
	height: 20px;
	background-color: #FFF8E8;
}
input[type="button"]{
	background-color: #545993;
	border: none;
	padding: 10px 20px;
	margin: 10px;
	font-size: 16px;
}

h3{
	color: #72A5D6;
}
h4{
	color: #FFF8E8;
	font-size: 28px;
	text-align: left;
}
p{
	color: #E7DFDD;
	text-align: center;
}
#footer{

	flex-grow: 1;
	width: 100%;
	height: 100px;
	margin: 10px;
}
h6{
	color: #72A5D6;
}