@charset "UTF-8";

body{
	background: linear-gradient(to bottom, #102343 0%, #7b5f7b 100%);
}

#header{
	width: 80%;
	height: 50px;
	margin-top: 0px;
	padding-bottom: 20px;
	padding-left: 10px;
}
#icon{
	widht: 20%;
	height: 50px;
}
#body{
	display: flex;
	padding: 30px;
	flex-wrap: wrap;
	justify-content: space-around;
}
#evenings{
	flex-grow: 1;
	width: 90%;
	height: 500px;
	margin: 10px;
	overflow: scroll;
	border: double;
	border-color:#E7DFDD;
}
#pokes{
	/* flex-grow: 1; */
	width: 40%;
	height: 300px;
	text-align: center;
	verticle-align: middle;
	margin: 10px;
	border: double;
	border-color:#E7DFDD;
}
#logout{
	flex-grow: 2;
	width: 40%;
	height: 50px;
	text-align: center;
	verticle-align: middle;
	margin: 10px;
/* 	border: double;
	border-color:#E7DFDD; */
}
button{
	border: none;
	padding: 10px 20px;
	margin: 20px;
	font-size: 16px;
	width: 350px;
	height: 50px;
	font-size: 24px;
	color: White;
}
#log-out{
	background-color: #4543ff;
    color: #FFF8E8;
    width: 30%;
    height: 50px;
}	
h1{
	font-family: Apple Chancery;
	font-size: 72px;
	color: #D4A56A;
}
h2{
	color: #FFF8E8;
}

h3{
	color: #72A5D6;
	text-align: center;
}
h4{
	color: #72A5D6;
	text-align: center;
}
p{
	color: #72A5D6;
	text-align: center;
}
#footer{
	flex-grow: 1;
	width: 100%;
	height: 100px;
	margin: 10px;
}
h6{
	color: #72A5D6;
}
.title{
	color: white;
	height: 150px;
	width: 100px;
}
.resultimage{
	height: 100px;
	width: 100%;
}
.resultimage:hover{
	background-color: #111111;
}
th{
	padding: 0;
	/*display: inline-block;*/
}



.container {
  position: relative;
  width: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  /*background-color: #4543ff;*/
}

.container:hover .overlay {
  opacity: 1;
}