@charset "UTF-8";

body{
	background: linear-gradient(to bottom, #102343 0%, #7b5f7b 100%);
}
#header{
	width: 80%;
	height: 50px;
	margin-top: 0px;
	padding-bottom: 20px;
	padding-left: 10px;
}
h1{
	font-family: Apple Chancery;
	font-size: 72px; 
	color: #D4A56A;
}
#icon{
	height: 50px;
}
#body{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 30px;
	height: 850px;
}

#title{
	flex-grow: 1;
	width: 80%;
	text-align: center;
	verticle-align: middle;
	/* background-color: #2d2ca3; */
	border: ridge;
	border-color: #E7DFDD;
	margin: 10px;
	height: 300px;
}
h2{
	color: #FFF8E8;
	font-size: 64px;
}
h3{
	color: #72A5D6;
	text-align: center;
	font-size: 32px;
}
#results{
	flex-grow: 1;
	width: 80%;
	height: 800px;
	/* background-color: #2d2ca3; */
	border: ridge;
	border-color: #E7DFDD;
	margin: 10px;
	text-align: center;
	overflow-x: hidden;
	overflow-y: scroll;
}

#saveShare{
	flex-grow: 1;
	width: 80%;
	height: 100px;
	/* background-color: #2d2ca3; */
	border: ridge;
	border-color: #E7DFDD;
	margin: 10px;
	font-size: 24px;
	text-align: center;
}
button{
	border: none;
	padding: 10px 20px;
	margin: 20px;
	font-size: 16px;
	width: 350px;
	height: 50px;
	font-size: 24px;
	color: White;
}
#redo{
	flex-grow: 1;
	width: 80%;
	height: 100px;
	/* background-color: #2d2ca3; */
	border: ridge;
	border-color: #E7DFDD;
	margin: 10px;
	
}
#retry{
	background-color: #4543ff;
    color: #FFF8E8;
    width: 30%;
    height: 50px;
    margin: 20px;
    font-size: 24px;
    text-align: center;
}

#save{
	background-color: #F1CB98;
    color: #FFF8E8;
    width: 30%;
    height: 50px;
    font-size: 24px;
}
#share{
	background-color: #F1B198;
    color: #FFF8E8;
    width: 30%;
    height: 50px;
    font-size: 24px;

}
#footer{
	flex-grow: 1;
	width: 80%;
	height: 100px;
	margin: 10px;
}
h6{
	color: #72A5D6;
}
#eventTitle{
	font-size: 32px;
	font-family: ;
	color:#FFF8E8;
}
#eventItem{
	/* background-color: #2d2ca3; */
    color: #FFF8E8;
    padding: 18px;
    width: 100%;
/*     border: ridge;
    border-color: #1A1A59; */
    text-align: left;
    outline: none;
    font-size: 32px;
}
#startTime{
	font-size: 24px;
	font-family: ;
	color:#FFF8E8;
	float: left;
	padding-left: 40px;
}
#endTime{
	font-size: 24px;
	font-family: ;
	color:#FFF8E8;
	
}
#location{
	font-size: 24px;
	font-family: ;
	color:#FFF8E8;
	padding-left: 40px;
}
#category{
	font-size: 24px;
	font-family: ;
	color:#FFF8E8;
	padding-left: 40px;
}
#subCat{
	font-size: 24px;
	font-family: ;
	color:#FFF8E8;
	padding-left: 40px;
}
