@charset "UTF-8";

body{
	background-color: #192231;
}

#body{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	padding: 30px;
	justify-content: space-around;
	align-items: center;
}

#header{
	width: 80%;
	height: 60px;
	margin-top: 0px;
	padding-bottom: 20px;
	padding-left: 10px;
}
h1{
	font-family: Apple Chancery;
	font-size: 72px;
	color: #D4A56A;
}

#icon{
	widht: 20%;
	height: 60px;
}

#title{
	flex-grow: 1;
	width: 80%;
	text-align: center;
	verticle-align: middle;
	background-color: #2d2ca3;
	margin: 10px;
}

h2{
	color: #FFF8E8;
	font-size: 40px;
}
h3{
	color: #FFF8E8;
	font-size: 32px;
}
#results{
	flex-grow: 1;
	width: 80%;
	height: 800px;
	background-color: #2d2ca3;
	margin: 10px;
	text-align: center;
	overflow-y: scroll;
}
#rbutton{
	flex-grow: 1;
	width: 80%;
	height: 100px;
	text-align: center;
}
#retry{
	background-color: #2d2ca3;
}

#saveShare{
	flex-grow: 1;
	width: 80%;
	height: 100px;
	margin: 20px;
	text-align: center;
}
#save{
	background-color: #F1CB98;
}
#share{
	background-color: #F1B198;
}
button{
	border: none;
	padding: 10px 20px;
	margin: 20px;
	font-size: 16px;
	width: 350px;
	height: 50px;
	font-size: 24px;
	color: White;
}

p{
	color: #72A5D6;
	text-align: center;
}
#footer{
	flex-grow: 1;
	width: 80%;
	height: 100px;
	margin: 10px;
}
h6{
	color: #72A5D6;
}
#eventItem{
	background-color: #2d2ca3;
    color: #FFF8E8;
    padding: 18px;
    width: 100%;
    border: ridge;
    border-color: #1A1A59;
    text-align: left;
    outline: none;
    font-size: 32px;
}
#startTime{
	font-size: 24px;
	font-family: ;
	color:#FFF8E8;
	float: left;
	padding-left: 40px;
}
#endTime{
	font-size: 24px;
	font-family: ;
	color:#FFF8E8;
	
}
#location{
	font-size: 24px;
	font-family: ;
	color:#FFF8E8;
	padding-left: 40px;
}
#category{
	font-size: 24px;
	font-family: ;
	color:#FFF8E8;
	padding-left: 40px;
}
#subCat{
	font-size: 24px;
	font-family: ;
	color:#FFF8E8;
	padding-left: 40px;
}
#img{
	float: right;
	margin-right: 20px;
	margin-bottom: 50px;
}