@charset "UTF-8";

body{
	/* background-color: #192231; */
	background-image: url("griffith.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#header{
	width: 80%;
	height: 40px;
	margin-top: 0px;
	padding-bottom: 20px;
	padding-left: 10px;
}
h1{
	font-family: Apple Chancery;
	font-size: 64px;
	color: #E7DFDD;
}
#body{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	padding: 30px;
	justify-content: space-around;
}

#icon{
	widht: 20%;
	height: 50px;
}

#authenticate{
	flex-grow: 1;
	width: 40%;
	height: 300px;
	margin: 10px;
	text-align: center;
}
#userInfo{
	flex-grow: 1;
	width: 20%;
	height: 300px;
	margin: 10px;
	text-align: center;
}
form{
	text-align: center;
}
a{
	text-decoration: none;
}
input[type="text"], input[type="password"]{
	width: 75%;
	margin: 10px;
	height: 20px;
	background-color: #FFD9AA;
}
input[type="button"]{
	background-color: #E7DFDD;
	border: none;
	padding: 10px 20px;
	margin: 10px;
	font-size: 16px;
	margin-right: auto;
	margin-left: auto;
}

#title{
	flex-grow: 2;
	width: 100%;
	text-align: center;
}
h2{
	text-align: center;
	color: #E7DFDD;
	font-family: Apple Chancery;
	font-size: 64px;
}
#featured{
	flex-grow: 2;
	width: 60%;
	height: 500px;
	/* background-color: #191E58; */
	/* background-color: #2d2ca3; */
	margin: 10px;
	text-align: center;
}

#reviews{
	flex-grow: 1;
	width: 30%;
	/* background-color: #2d2ca3; */
	margin: 10px;
	text-align: center;
}
h3{
	color: #72A5D6;
	text-align: center;
}
p{
	color: #72A5D6;
}
#footer{

	flex-grow: 1;
	width: 100%;
	height: 100px;
	margin: 10px;
}
h6{
	color: #72A5D6;
}